<html>
  <style>
    body{
      font-size: 8pt;
      font-family: arial;
    }
    table{
        border: 1px solid black;
        cellpadding: "10";
        border: '0';
        width: 100px
        height: 100px
    }
  </style>
  <style type="text/css">
  a:link,
  a:visited { COLOR: black; TEXT-DECORATION: none; }
  a:hover { COLOR: blue; TEXT-DECORATION: underline; }
  a:active { COLOR: blue; TEXT-DECORATION: none; }
  </style>

<body>

    <div style="overflow: auto;"><center><font size="5pt">
    <a href="home">News</a>&nbsp;&nbsp;&nbsp;
    <a href="home_match">Match</a>&nbsp;&nbsp;&nbsp;
    <a href="home_team">Team</a>&nbsp;&nbsp;&nbsp;
    <a href="home_score">Score</a>&nbsp;&nbsp;&nbsp;
    </font></center></div>
    <br><br><br>

    <div><center>
        <a href="home"><font size="2pt">home</a><br><br><br><br><br><br><br><br>
            <h2><font size="5pt"> Date: {{match.date}}</h2>
            <h3><font size="5pt"> Time: {{match.time}}</h3>
            <h1><font size="5pt"> Stadium: {{stadium}}</h1>
            <div>
                <div style="float: left;width:40%;"><font size="6pt">
                    <a href="{{url_for('team', nation = match.nation, level = match.level, cname = match.host )}}">{{match.host}}</a><br><br>
                    <table>
                    {% for m in home_players %}
                    <tr>
                        <td><font size="3pt">{{m.number}}</td>
                        <td><font size="3pt">{{m.name}}</td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
                <div style="float: left;width:40%;"><font size="6pt">
                    <a href="{{url_for('team', nation = match.nation, level = match.level, cname = match.guest )}}">{{match.guest}}</a><br><br>
                    <table>
                    {% for m in home_players %}
                    <tr>
                        <td><font size="3pt">{{m.number}}</td>
                        <td><font size="3pt">{{m.name}}</td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
    </center></div>

</body>
</html>
