<html>
  <style>
    body{
      font-size: 8pt;
      font-family: arial;
    }
    table{
        border: 1px solid black;
        cellpadding: "10";
        border: '0';
        width: 100px
        height: 100px
    }
  </style>
  <style type="text/css">
  a:link,
  a:visited { COLOR: black; TEXT-DECORATION: none; }
  a:hover { COLOR: blue; TEXT-DECORATION: underline; }
  a:active { COLOR: blue; TEXT-DECORATION: none; }
  </style>

<body>

    <div style="overflow: auto;"><center><font size="5pt">
    <a href="home">News</a>&nbsp;&nbsp;&nbsp;
    <a href="home_match">Match</a>&nbsp;&nbsp;&nbsp;
    <a href="home_team">Team</a>&nbsp;&nbsp;&nbsp;
    <a href="home_score">Score</a>&nbsp;&nbsp;&nbsp;
    </font></center></div>
    <br><br><br>

    <form method="POST" action="/add_record">
    <div><center>
        <a href="home"><font size="2pt">home</a><br><br><br>
            <div>
                <input type="hidden" name="nation" value= "{{match.nation}}" />
                <input type="hidden" name="level" value= "{{match.level}}" />
                <input type="hidden" name="mid" value= "{{match.mid}}" />
                <input type="submit" value="add record">
            </div>
        <br><br><br>
        <div>
            <div style="float: left;width:10%;"><font size="6pt">
                <a href="{{url_for('team', nation = match.nation, level = match.level, cname = match.host )}}">{{match.host}}</a><br><br>
                <table>
                {% for m in home_players %}
                <tr>
                    <td><font size="3pt">{{m.number}}</td>
                    <td><font size="3pt">{{m.name}}</td>
                </tr>
                {% endfor %}
                </table>

            </div>

            <div style="float: left;width:40%;"><font size="6pt">
                <h><font size ="3pt"> Who Scores?<h><br><br><br>
                    <div><h>Player</h>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <h>Number of Goal</h>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <h>own goal?</h></div>
                    {% for i in range(5) %}
                    <div>
                        <input type="number" name="home_score{{i}}" list="players" />
                            <datalist id="players">
                                {% for m in home_players %}
                                    <option value="{{m.number}}">{{m.number}}-{{m.name}}</option>
                                {% endfor %}
                            </datalist>
                        <input type="number" name="home_goal_number{{i}}" value="1">
                        <input type="number" name="home_own_goal{{i}}" value="0">
                    </div><br>
                    {% endfor %}
            </div>

            <div style="float: left;width:10%;"><font size="6pt">
                <a href="{{url_for('team', nation = match.nation, level = match.level, cname = match.guest )}}">{{match.guest}}</a><br><br>
                <table>
                {% for m in guest_players %}
                <tr>
                    <td><font size="3pt">{{m.number}}</td>
                    <td><font size="3pt">{{m.name}}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
            <div style="float: left;width:40%;"><font size="6pt">
                <h><font size ="3pt"> Who Scores?<h><br><br><br>
                    {% for i in range(5) %}
                    <div>
                        <input type="number" name="guest_score{{i}}" list="players" />
                            <datalist id="players">
                                {% for m in home_players %}
                                    <option value="{{m.number}}">{{m.number}}-{{m.name}}</option>
                                {% endfor %}
                            </datalist>
                        <input type="number" name="guest_goal_number{{i}}" value="1">
                        <input type="number" name="guest_own_goal{{i}}" value="0">
                    </div><br>
                    {% endfor %}
            </div>
        </div>
    </center></div><br><br><br><br><br><br>

</form>

</body>
</html>
