<html>
  <style>
    body{
      font-size: 8pt;
      font-family: arial;
    }
    table{
        border: 1px solid black;
        cellpadding: "10";
        border: '0';
        width: 60%
        border-left: 0px;
    }
  </style>
  <style type="text/css">
  a:link,
  a:visited { COLOR: black; TEXT-DECORATION: none; }
  a:hover { COLOR: blue; TEXT-DECORATION: underline; }
  a:active { COLOR: blue; TEXT-DECORATION: none; }
  </style>

<body>

    <div style="overflow: auto;"><center><font size="5pt">
    <a href="home">News</a>&nbsp;&nbsp;&nbsp;
    <a href="home_match">Match</a>&nbsp;&nbsp;&nbsp;
    <a href="home_team">Team</a>&nbsp;&nbsp;&nbsp;
    <a href="home_score">Score</a>&nbsp;&nbsp;&nbsp;
    </font></center></div>
    <br><br><br><br>

    <a href="home"><center><font size="2pt">home</center></a><br><br><br><br>
    <div>
        <div id="leagues" style="width:40%;height:100%;float:left;"><font size="4pt">
            {% for l in leagues %}
                {% if l.nation == nation and l.level == level %}
                    &nbsp;&nbsp;&nbsp;<a href="{{url_for('home_match', nation = l.nation, level = l.level )}}" style="color:#FF0000;">{{l.name}}</a><br><br><br>
                {% else %}
                    &nbsp;&nbsp;&nbsp;<a href="{{url_for('home_match', nation = l.nation, level = l.level )}}">{{l.name}}</a><br><br><br>
                {% endif %}
            {% endfor %}
        </div>

        <div id="Matches" style="width:40%;height:100%;float:left;"><font size="2pt">
            <h> <font size="6pt"> Schedule </h><br><br>
            {% for m in matches %}
                <table>
                <tr>
                    <td><td align="left" width="20%">{{m.date}}</td>
                    <td><td align="left" width="20%" style="border-left:1px solid black">{{m.time}}</td>
                    <td><td align="left" width="100%" style="border-left:1px solid black">
                        <a href="{{url_for('team', nation = m.nation, level = m.level, cname = m.host )}}">{{m.host}}</a>
                        &nbsp; vs &nbsp;
                        <a href="{{url_for('team', nation = m.nation, level = m.level, cname = m.guest )}}">{{m.guest}}</a>
                    </td>
                    <td><td align="right" width="20%" style="border-left:1px solid black"><a href="{{url_for('match', mid = m.mid )}}">Details</a></td>
                </tr>
                </table>
            {% endfor %}
        </div>
    </div>

</body>
</html>
