<html>
  <style>
    body{
      font-size: 8pt;
      font-family: arial;
    }
    table{
        border: 1px solid black;
        cellpadding: "10";
        border: '0';
        width: 80%
    }
  </style>
  <style type="text/css">
  a:link,
  a:visited { COLOR: black; TEXT-DECORATION: none; }
  a:hover { COLOR: blue; TEXT-DECORATION: underline; }
  a:active { COLOR: blue; TEXT-DECORATION: none; }
  </style>

<body>

    <div style="overflow: auto;"><center><font size="5pt">
    <a href="home">News</a>&nbsp;&nbsp;&nbsp;
    <a href="home_match">Match</a>&nbsp;&nbsp;&nbsp;
    <a href="home_team">Team</a>&nbsp;&nbsp;&nbsp;
    <a href="home_score">Score</a>&nbsp;&nbsp;&nbsp;
    </font></center></div>


    <div><center>
        {% for n in data %}
        <div>
            <table>
            <tr><td>
                <a href="{{url_for('news', nid = n.nid )}}">{{n.title}}</a>
            </td></tr>
            <tr><td></td><td align="right">{{n.date}}</td></tr>
            <br>
            </table>
        </div>
        {% endfor %}
    </center></div>

</body>
</html>
