<html>
  <style>
    body{
      font-size: 8pt;
      font-family: arial;
    }
    table{
        border: 1px solid black;
        cellpadding: "10";
        border: '0';
        width: 80%
    }
  </style>
  <style type="text/css">
  a:link,
  a:visited { COLOR: black; TEXT-DECORATION: none; }
  a:hover { COLOR: blue; TEXT-DECORATION: underline; }
  a:active { COLOR: blue; TEXT-DECORATION: none; }
  </style>

<body>

    <div style="overflow: auto;"><center><font size="5pt">
    <a href="home">News</a>&nbsp;&nbsp;&nbsp;
    <a href="match">Match</a>&nbsp;&nbsp;&nbsp;
    <a href="team">Team</a>&nbsp;&nbsp;&nbsp;
    <a href="player">Player</a>&nbsp;&nbsp;&nbsp;
    </font></center></div>
    <br><br><br>

    <div><center>
        <a href="home"><font size="2pt">back</a><br><br>
        <div>
            <h1><font size="5pt"> {{data.title}} </h1>
            <h2><font size="4pt">
                <span>{{data.author}}</span>&nbsp&nbsp&nbsp
                <span>{{data.date}}</span>
            </h2>
        </div>
        <div style="width: 50%">
            <p><font size="3pt">{{data.content}}</p>
        </div>
    </center></div>

</body>
</html>
