<html>
  <style>
    body{
      font-size: 8pt;
      font-family: arial;
    }
    table{
        border: 1px solid black;
        cellpadding: "10";
        border: '0';
        width: 100px
        height: 100px
    }
  </style>
  <style type="text/css">
  a:link,
  a:visited { COLOR: black; TEXT-DECORATION: none; }
  a:hover { COLOR: blue; TEXT-DECORATION: underline; }
  a:active { COLOR: blue; TEXT-DECORATION: none; }
  </style>

<body>

    <div style="overflow: auto;"><center><font size="5pt">
    <a href="home">News</a>&nbsp;&nbsp;&nbsp;
    <a href="home_match">Match</a>&nbsp;&nbsp;&nbsp;
    <a href="home_team">Team</a>&nbsp;&nbsp;&nbsp;
    <a href="home_score">Score</a>&nbsp;&nbsp;&nbsp;
    </font></center></div>
    <br><br><br>

    <div><center>
        <a href="home"><font size="2pt">home</a><br><br><br><br>
        <div style="width:200px;height:220px;border:1px solid #000;">Photo</div><br><br>
        <h><font size="4.5pt"> {{player.name}} </h><br><br>
        <h><font size="4.5pt"> Age: {{player.age}} </h><br><br>
        <h><font size="4.5pt"> Nationailty: {{player.nationality}} </h><br><br>
        <h><font size="4.5pt"> Position: {{player.position}} </h><br><br>
        <h><font size="4.5pt"> Club: <a href="{{url_for('team', nation = player.nation, level = player.level, cname = player.cname )}}"> {{player.cname}}</a> </h><br><br>
        <h><font size="4.5pt"> Join Since: {{player.since}} </h><br><br>
        <h><font size="4.5pt"> Price(million£): {{player.price}} </h><br><br>
        <h><font size="4.5pt"> Height: {{player.age}} </h><br><br>
        <h><font size="4.5pt"> Foot: {{player.foot}} </h><br><br>

        <br><br><br>
        {% if score|length > 0 %}
            <h> <font size="6pt"> Scores </h><br><br>
        {% endif %}
        {% for s in scores %}
            <table style="width:40%">
            <tr>
                <td><td align="left" width="20%">{{s.date}}</td>
                <td><td align="left" width="15%" style="border-left:1px solid black">{{s.time}}</td>
                <td><td align="left" width="100%" style="border-left:1px solid black">
                    <a href="{{url_for('team', nation = s.nation, level = s.level, cname = s.host )}}">{{s.host}}</a>
                    &nbsp; vs &nbsp;
                    <a href="{{url_for('team', nation = s.nation, level = s.level, cname = s.guest )}}">{{s.guest}}</a>
                </td>
                <td><td align="left" width="15%" style="border-left:1px solid black">x{{s.goal_num}}</td>
                <td><td align="right" width="15%" style="border-left:1px solid black"><a href="{{url_for('match', mid = s.mid )}}"> See Match Details</a></td>
            </tr>
            </table>
        {% endfor %}
    </center></div>

</body>
</html>
