<html>
  <style>
    body{
      font-size: 8pt;
      font-family: arial;
    }
    table{
        border: 1px solid black;
        cellpadding: "10";
        border: '0';
        width: 100px
        height: 100px
    }
    tr {
        border-bottom: solid 1px black;
    }
  </style>
  <style type="text/css">
  a:link,
  a:visited { COLOR: black; TEXT-DECORATION: none; }
  a:hover { COLOR: blue; TEXT-DECORATION: underline; }
  a:active { COLOR: blue; TEXT-DECORATION: none; }
  </style>

<body>

    <div style="overflow: auto;"><center><font size="5pt">
    <a href="home">News</a>&nbsp;&nbsp;&nbsp;
    <a href="home_match">Match</a>&nbsp;&nbsp;&nbsp;
    <a href="home_team">Team</a>&nbsp;&nbsp;&nbsp;
    <a href="home_score">Score</a>&nbsp;&nbsp;&nbsp;
    </font></center></div>
    <br><br><br>

    <div style="overflow: auto;"><center>
        <a href="home"><font size="2pt">home</a><br><br><br><br>
        <div style="width:100px;height:100px;border:1px solid #000;">Log</div> <br><br>
        <h><font size="4pt"> {{team.cname}}<br><br>
        <h><font size="4pt"> League: <a href="{{url_for('home_team', nation = league.nation, level = league.level )}}">{{league.name}}</a> </h><br><br>
        <h><font size="4pt"> Current Rank: {{team.rank}}</h><br><br>
        <h><font size="4pt"> City: {{team.city}} </h><br><br>
        <h><font size="4pt"> Statium: {{team.stadium}} </h><br><br>
        <h><font size="4pt"> Sponsor: {{team.sponsor}} </h><br><br>
    </center></div>
    <br><br><br>
    <div id="Matches" style="overflow: auto;float:left;width:40%;"><font size="2pt">
        <h> <font size="6pt"> Matches </h><br><br>
        {% for m in matches %}
            <table style="width:90%;">
            <tr>
                <td><td align="left" width="20%">{{m.date}}</td>
                <td><td align="left" width="15%" style="border-left:1px solid black">{{m.time}}</td>
                <td><td align="left" width="100%" style="border-left:1px solid black">
                    <a href="{{url_for('team', nation = m.nation, level = m.level, cname = m.host )}}">{{m.host}}</a>
                    &nbsp; vs &nbsp;
                    <a href="{{url_for('team', nation = m.nation, level = m.level, cname = m.guest )}}">{{m.guest}}</a>
                </td>
                <td><td align="right" width="15%" style="border-left:1px solid black"><a href="{{url_for('match', mid = m.mid )}}">Details</a></td>
            </tr>
            </table>
        {% endfor %}
    </div>
    <div id="Players" style="overflow: auto;float:left;width:60%;"><font size="2pt">
        <h> <font size="6pt"> Players </h><br><br>
            <table style="width:70%">
            <tr>
                <td>Number</td>
                <td>Name</td>
                <td>Position</td>
                <td>Nationality</td>
                <td>Since</td>
                <td>Price</td>
                <td>Height(cm)</td>
                <td>Foot</td>
            </tr>
        {% for p in players %}
            <tr>
                <td>{{p.number}}</td>
                <td><a href="{{url_for('player', number = p.number, nation = p.nation, level = p.level, cname = p.cname )}}">{{p.name}}</a></td>
                <td>{{p.position}}</td>
                <td>{{p.nationality}}</td>
                <td>{{p.since}}</td>
                <td>{{p.price}}</td>
                <td>{{p.height}}</td>
                <td>{{p.foot}}</td>
            </tr>
        {% endfor %}
            </table>

    </div>

</body>
</html>
