<html>
  <style>
    body{
      font-size: 8pt;
      font-family: arial;
    }
    table{
        border: 1px solid black;
        cellpadding: "10";
        border: '0';
        width: 100px
        height: 100px
    }
  </style>
  <style type="text/css">
  a:link,
  a:visited { COLOR: black; TEXT-DECORATION: none; }
  a:hover { COLOR: blue; TEXT-DECORATION: underline; }
  a:active { COLOR: blue; TEXT-DECORATION: none; }
  </style>

<body>

    <div style="overflow: auto;"><center><font size="5pt">
    <a href="home">News</a>&nbsp;&nbsp;&nbsp;
    <a href="home_match">Match</a>&nbsp;&nbsp;&nbsp;
    <a href="home_team">Team</a>&nbsp;&nbsp;&nbsp;
    <a href="home_score">Score</a>&nbsp;&nbsp;&nbsp;
    </font></center></div>
    <br><br><br>

    <div><center>
        <a href="home"><font size="2pt">home</a><br><br><br><br>
        <div style="width:100px;height:100px;border:1px solid #000;">Log</div> <br><br>
        <h1><font size="4pt"> {{team.cname}}
        <h2><font size="4pt"> League: <a href="{{url_for('home_team', nation = league.nation, level = league.level )}}">{{league.name}}</a> </h2>
        <h3><font size="4pt"> Current Rank: {{team.rank}}</h3>
        <h4><font size="4pt"> City: {{team.city}} </h4>
        <h5><font size="4pt"> Statium: {{team.stadium}} </h5>
        <h6><font size="4pt"> Sponsor: {{team.sponsor}} </h6>
    </center></div>

</body>
</html>
